- add_to_breadcrumbs _('Packages and registries settings'), project_settings_packages_and_registries_path(@project)
- breadcrumb_title s_('ContainerRegistry|Cleanup policies')
- page_title s_('ContainerRegistry|Cleanup policies'), _('Packages and registries settings')
- @content_class = 'limit-container-width' unless fluid_layout

#js-registry-settings-cleanup-image-tags{ data: cleanup_settings_data }
